body{
  /* --twit-color:#50b7f5; */
  --twit-color:#0C5685;
  --twit-background:#e6ecf0;
}

.app{
  display: flex;
  height: 100vh;
  /* max-width: 1300px; */
  margin-left: auto;
  margin-right: 10px;
  padding: 0 10px;
}