body{
    /* --twit-color:#50b7f5; */
  --twit-color:#0056D2;
    --twit-background:#e6ecf0;
  }
  
  .app{
    display: flex;
    height: 100vh;
    /* max-width: 1300px; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
  }
  .go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s;
  }
  
  .go-to-top-button.visible {
    display: block;
  }