@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	/* // Basic */
	--c-white: #fff;
	--c-black: #000;

	/* // Greys */
	--c-ash: #a3bff8;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;

	/* // Beige/Browns */

	/* --c-fair-pink: #FFEDEC; */
	--c-fair-pink: rgba(157, 211, 244, 0.756);

	/* --c-apricot: #FBC8BE; */
	--c-apricot: rgba(66, 177, 247, 0.756);

	/* --c-coffee: #754D42; */
	--c-coffee: #163362;

	/* --c-del-rio: #917072; */
	--c-del-rio: #163362;

	/* // Greens */
	--c-java: #1FCAC5;

	/* // Purples */
	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;
}

article {
	font-family: "Spline Sans", sans-serif;
	/* line-height: 1.5;
	min-height: 100vh; */
	/* background-color: #50b7f5 !important; */
}

.donatebanner{
    margin: 10px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.1rem;
	/* width: 90%; */
	/* max-width: 1000px; */
	margin: 3vh auto;
}

.heading{
	color: red;
	margin-bottom: 29px;
	color: #000;
    /* font-family: "Seravek 04", sans-serif; */
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
	/* margin-top: 0; */
}
.text-block-2{
	/* order-bottom: 1px solid var(--steel-blue); */
    color: var(--purpl);
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	font-weight: 700;
}

.div-block-6{
	justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
}
.div-block-4{
	opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
	width: 33.3%;
    color: var(--purpl);
    cursor: pointer;
    background-color: #e9eae4;
    margin-right: 5px;
    transition: all .2s;
	height: 40px;
    /* background-color: var(--steel-blue); */
    text-align: center;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
	font-weight: 600;
}
.other {
    width: 65%;
}
.saf {
    height: 40px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 9px;
    padding-bottom: 9px;
	 opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
	width: 100%;
    background-color: var(--twit-color);
    color: #fff; 
	font-weight: 800;
}

.payemnt-wrapper {
    width: 400px;
    height: auto;
}
.inner-wrapper-hero.sad {
    width: 50%;
	justify-content: center;
    align-items: center;
    display: flex;
}
.outer-wrapper {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 1px;
    position: relative;
	align-items: center;
	display: flex;
	width: 820px;
}

.card {
	border-radius: 16px;
	box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
	max-width: 270px;
    /* height: 400px; */
}

.information {
	background-color: var(--c-white);
	padding: 1.5rem;

	.tag {
		display: inline-block;
		background-color: var(--c-titan-white);
		color: var(--c-indigo);
		font-weight: 600;
		font-size: 1.1rem;
		padding: 0.5em 0.75em;
		line-height: 1;
		border-radius: 6px;
		& + * {
			margin-top: 1rem;
		}
	}

	.title {
		font-size: 1.2rem;
		color: var(--c-void);
		line-height: 1.25;
		& + * {
			margin-top: 1rem;
		}
	}

	.info {
		color: var(--c-charcoal);
		& + * {
			margin-top: 1.25rem;
		}
	}

	.dn_button {
		font: inherit;
		line-height: 1;
		background-color: #ffff;
		border: 2px solid #143361;
		color: var(--c-indigo);
		padding: 0.5em 1em;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
		&:hover,
		&:focus {
			background-color: var(--c-indigo);
			color: var(--c-white);
		}
	}
	
	.details {
		display: flex;
		gap: 1rem;
		div {
			padding: .75em 1em;
			background-color: var(--c-titan-white);
			border-radius: 8px;
			display: flex;
			flex-direction: column-reverse;
			gap: .125em;
			flex-basis: 50%;
		}
		
		.dt {
			font-size: .875rem;
			color: var(--c-cold-purple) !important;
		}
		
		.dd {
			color: var(--c-indigo) !important;
			font-weight: 600;
			font-size: 1.25rem;
		}
	}
}



 
  .container {
	height: 50vh;
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
  }
  
  .title {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%,-50%);
	z-index: -1;
	color: gray;
	font-size: 120px;
	font-weight: 600;
  }
  
  .title-large {
	height: 130px;
	margin-left: -5px;
	opacity: 0.1;
  }
  
  .img-container {
	display: inline-block;
	overflow: hidden;
	margin-left: -2.8px;
	margin-right: -2.8px;
	width: 160px;
	vertical-align: top;
	border-radius: 0px 0px 80px 80px;
	animation-name: flow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-delay: -2s;
	transition-timing-function: cubic-bezier(0,.57,1,.46);
	box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.5);
  }
  
  /* .second-animation {
	animation-delay: -1.5s;
  } */
  
  .third-animation {
	animation-delay: -0.75s; 
  }
  
  .fourth-animation {
	animation-delay: 0s; 
  }
  
  .fifth-animation {
	animation-delay: 0.75s; 
  }
  
  /* .sixth-animation {
	animation-delay: 0.5s; 
  } */
	
  .seventh-animation {
	animation-delay: 1.5s;
  }
  
  .img {
	object-fit: cover;
	width: 170px;
	height: 60vh;
	margin-top: -60px;
  }
  
  .nba {
	margin-top: -20px;
  }
  
  @keyframes flow {
	0% {height: 20%; border-radius: 0px 0px 30px 30px;}
	50% {height: 90%; border-radius: 0px 0px 100px 100px;}
	100% {height: 20%; border-radius: 0px 0px 30px 30px;}
  }
  
  @media only screen and (max-width: 1200px) {
	#img-7 {
	  display: none;
	}
  }
  
  @media only screen and (max-width: 1028px) {
	#img-1 {
	  display: none;
	}
  }
  
  @media only screen and (max-width: 860px) {
	#img-6 {
	  display: none;
	}
  }



.plan {
	padding: 10px;
	/* background-color: #F5F8FA; */
	color: var(--c-del-rio);
	
	.strong {
		font-weight: 600;
		color: var(--c-coffee);
	}
	
	.inner {
		padding: 20px;
		padding-top: 20px;
		background-color: #dbecfa;
		border-radius: 12px;
	position: relative;
		overflow: hidden;
	}
	
	.pricing {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--twit-color);
		border-radius: 99em 0 0 99em;
		display: flex;
		align-items: center;
		padding: .625em .75em;
		font-size: 1.1rem;
		font-weight: 600;
		color: var(--c-coffee);
		.small {
			color: var(--c-del-rio);
			font-size: .75em;
			margin-left: .25em;
		}
		
	}
	
	.c-title {
		font-weight: 600;
		font-size: 1.25rem;
		color: var(--c-coffee);
		& + * {
			margin-top: .75rem;
		}
	}
	
	.info {
		& + * {
			margin-top: 1rem;
		}
	}
	




	
	.features {
        padding: 5px;
		display: flex;
		flex-direction: column;
		.li {
			display: flex;
			align-items: center;
			gap: .5rem;
			& + * {
				margin-top: .75rem;
			}
		}
		
		.icon {
			background-color: var(--c-java);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: var(--c-white);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			svg {
				width: 14px;
				height: 14px;
			}
		}
		
		& + * {
			margin-top: 1.25rem;
		}
	}
	
	.dn_button {
		cursor: pointer;
		font: inherit;
		background-color: #143361;
		border-radius: 6px;
		color: var(--c-white);
		font-weight: 500;
		font-size: 1rem;
		width: 100%;
		border: 0;
		padding: 1em;
		&:hover,
		&:focus {
			background-color: var(--c-governor);
		}
	}
	


	
}