.feed{
    flex:0.4;
    border-right: 1px solid var(--twit-background);
    min-width: fit-content;
    overflow-y: scroll;
}

/* Hide scrollbar  */
.feed::-webkit-scrollbar{
    display: none;
}
.feed{
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.feed_header{
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    border: 1px solid var(--twit-background);
    padding: 15px 20px;
}
.feed_header > h2 {
    font-size: 20px;
    font-weight: 800;
}
.go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s;
  }
  
  .go-to-top-button.visible {
    display: block;
  }