.go-to-top-page {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #f7e301;
    color: #1b1a1a;
    padding: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 55px;
    width: 55px;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .go-to-top-page:hover {
    background-color: #212932;
    transform: scale(1.1);
  }
  
  .go-to-top-page:active {
    transform: scale(0.9);
  }