.jobpage{
    background-color: #F1F2F7;
    width: 360px;
}
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .mycards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mycards_item {
    display: flex;
    padding: 1rem;
    width: 360px !important;
    /* background-color: red; */
  }
  
  .mycard_image {
    position: relative;
    max-height: 180px;
  }
  
  .mycard_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mycard_price {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 45px;
    border-radius: 0.3rem;
    background-color: #c89b3f;
    font-size: 18px;
    font-weight: 700;
  }
  
  .mycard_price span {
    font-size: 12px;
    margin-top: -2px;
  }
  
  .note {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 0.25rem;
    background-color: #c89b3f;
    font-size: 14px;
    font-weight: 700;
  }
  
  @media (min-width: 40rem) {
    .mycards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .mycards_item {
      width: 45%;
    }
  }
  
  .mycard {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 400px !important;
  }
  
  .mycard_content {
    position: relative;
    padding: 16px 12px 32px 24px;
    margin: 16px 8px 8px 0;
    max-height: 290px;
    overflow-y: scroll;
  }
  
  .mycard_content::-webkit-scrollbar {
    width: 8px;
  }
  
  .mycard_content::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 0;
  }
  
  .mycard_content::-webkit-scrollbar-thumb {
    background: var(--twit-color);
    border-radius: 15px;
  }
  
  .mycard_title {
    position: relative;
    margin: 0 0 24px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  
  .mycard_title::after {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c89b3f;
    content: "";
  }
  
  hr {
    margin: 24px auto;
    width: 50px;
    border-top: 2px solid #C9E5FD;
  }
  
  .mycard_text p {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .mycard_text p:last-child {
    margin: 0;
  }

  

  .job_avatar{
    width: 40px !important;
    height: 40px;
    border-radius: 20%;
  }

  .job_employer{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .employer{
    font-weight: 800;
    font-size: 14px;
  }
  .boxes{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }
  .box{
    background-color: #c9e5fd;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    /* height: 50px; */
  }
  .box_heading{
    font-weight: 800;
    margin: 0;
  }
  .box_content{
    margin: 0;
  }